
<button type="button" class="btn btn-outline-primary"><%= link_to "Sign_up", new_user_registration_path %></button>
<button type="button" class="btn btn-light-primary"><%= link_to "Log_in", new_user_session_path %></button>
   