<p id="notice"><%= notice %></p>

    <h4 class="heading">Home</h4>

    <div>
      <%= render_form %>
    
      <div>
        <% @posts.each do |post| %>
          <div class="user-posts">
            <div class="user_name"><%= user_name(post) %></div>
            <div class="post"><%= post.post %></div>
          </div>
        <% end %>
      </div>
    </div>

    <br>
