<p id="notice"><%= notice %></p>

    <h4 class="heading">Home</h4>

    <div>
      <% if user_signed_in? %>
        <%= render 'form', post: @post %>
      <% end %>
      <div>
        <% @posts.each do |post| %>
          <div class="user-posts">
            <% if user_signed_in? %>  
              <div class="user_name"><%= post.user.name %></div>
            <% end %>
            <div class="post"><%= post.post %></div>
          </div>
        <% end %>
      </div>
    </div>

    <br>
