<p id="notice"><%= notice %></p>

    <h4 class="heading">Home</h4>

    <table>
      <% if user_signed_in? %>
        <%= render 'form', post: @post %>
      <% end %>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.post %></td>
            <% if user_signed_in? %>  
              <td><%= post.user.name %></td>
            <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
