<p id="notice"><%= notice %></p>

<div class="love-wrapper">
  <div class="main d-flex flex-column align-items-center">
    <h4>Home</h4>

    <% if user_signed_in? %>
      <%= render 'form', post: @post %>
    <% end %>
   
    
      <% @posts.each do |post| %>
        <div class="post_container w-100">
          <% if user_signed_in? %>  
            <p class="username"><%= post.user.name %></p>
          <% end %>
            <p class="post_body"><%= post.post %></p>
        </div>  
      <% end %>    

  </div>
</div>

