<p id="notice"><%= notice %></p>

<div class="love-wrapper">
  <div class="main d-flex flex-column align-items-center">
    <h1 class="heading">Home</h1>

    <table>
      <% if user_signed_in? %>
        <%= render 'form', post: @post %>
      <% end %>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.post %></td>
            <% if user_signed_in? %>  
              <td><%= post.user.name %></td>
            <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>

