//= require reset

@import "bootstrap";
  body {
    font-family: Bitter;
  }

 .main {
   background-color: gainsboro;
   width: 100vw;
   margin: 0 auto;
   color: rgb(88, 124, 255);
   height: 100vh;
   padding-top: 5vh; 
 }

 .form-wrapper {
   padding: 10px;
   max-width: 300px;
   margin: 0 auto;
   background-color: #f3f3f3;
 }

 .form-we {
   width: 100%;
 }

.active { 
  background-color: white;
}

.navbarwe {
  display: flex;
  justify-content: space-between;
}

.member-box{
  padding: 10px;
  font-family: 'Permanent Marker', cursive;
}

.member-box a:hover {
  text-decoration: none;
}
